langchain==0.3.27
langchain-core==0.3.75
langchain-ollama==0.3.7
ollama==0.5.3
pydantic==2.11.7
openai-whisper @ git+https://github.com/openai/whisper.git@c0d2f624c09dc18e709e37c2ad90c039a4eb72a2
PyQt5==5.15.11
urllib3==2.5.0